<!-- Services -->
<app-hero-header [title]="servicesHeroData().title" [description]="servicesHeroData().description"
  [config]="servicesHeroData().config">
</app-hero-header>

<section class="o-service">
  <div class="o-service__container">
    <app-feature-grid
      *ngFor="let feature of features"
      [icon]="feature.icon"
      [title]="feature.title"
      [description]="feature.description"
      [image]="feature.image"
      [reverse]="feature.reverse"
      [texts]="feature.texts"
      [checkIcon]="feature.checkIcon">
    </app-feature-grid>
  </div>
</section>

<!-- This is the service template that includes a  grid of service cards -->
<section>
  <div class="o-service__grid-container">
    <div class="o-service__grid-titleDescription">
      <h2 class="o-service__grid-title">{{ gridTitle }}</h2>
      <p class="o-service__grid-description">{{ gridDescription }}</p>

    </div>
    <div class="o-service__grid">
      <app-services-cards *ngFor="let service of services; index as i"
       [index]="i"
       [title]="service.title"
      [description]="service.description">
      </app-services-cards>
    </div>
  </div>
</section>

<section>
  <app-materials-container
    [title]="materialContainer.title"
    [description]="materialContainer.description"
    [categories]="materialsCategories">
  </app-materials-container>
</section>

<app-cta-section [title]="ctaData().title" [description]="ctaData().description" [backgroundImage]="ctaData().backgroundImage"
  [button]="ctaData().button" [highlightedWord]="ctaData().highlightedWord">
</app-cta-section>
