@use '../../../../assets/styles/variables' as vars;

.navbar-brand {
  .brand-link {
    text-decoration: none;
    color: vars.color('black2');

    .brand-text {
      font-size: 1.5rem;
      font-weight: 700;
      color: vars.color('blue600');
    }
  }
}
